* {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 2px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

.r-btn {
  padding: 5px 20px;
  background-color: #ee8683 !important;
  color: #fff !important;
}

::selection {
  background-color: #ee8683;
  color: #fff;
}


/* styles.css */

.r-p {
  padding-top: 80px;
  padding-bottom: 80px;
}
.content-mg {
  margin: 10px 0;
}
.content-box * + * {
  margin: 20px 0;
}
.bg-sec {
  background: #f8f9fa;
}
.title-box {
  max-width: 600px;
  text-align: center;
}

.preloader:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #000;
  transition: 1s;
}
.preloader:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: #000;
  transition: 1s;
}

.preloader.complete:before {
  bottom: -50%;
}
.preloader.complete:after {
  top: -50%;
}

.preloader.complete {
  visibility: hidden;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-top: 10px solid #ee8683;
  animation: animate 1.5s infinite linear;
  z-index: 99999;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Navigation---------------------------------------------------------------------------- */
nav .navbar-brand {
  font-size: 30px;
  color: #fff;
  transition: 0.5s all;
}
nav .navbar-nav li {
  margin-left: 15px;
}
nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
nav.r-nav {
  background: transparent;
  padding: 20px 0px;
  transition: 0.5s all;
}

nav.r-nav.stickyadd {
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}
nav.stickyadd .navbar-brand {
  color: #000;
  font-size: 40px;
  transition: 0.5s all;
}
nav.stickyadd .navbar-nav .nav-link {
  color: #000 !important;
}
.navbar .hamburger {
  color: #fff;
}
nav.stickyadd .hamburger {
  color: #000;
}

nav *,
header * {
  animation-delay: 0.5s;
}

/* ---------- */

/* Header -----------------------------------------------------------------------*/
header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("My-portfolio/images/view-3d-man-with-tech-device.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-box {
  max-width: 700px;
  color: #fff;
}
.content-box h4 {
  font-size: 30px;
}
.content-box h1 {
  font-size: 45px;
}
.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
}
.content-box p {
  color: #fff;
  font-size: 15px;
}
.content-box a:hover {
  color: #000;
  background: #fff;
  transition: 0.5s all;
}

/* About Us */

.about li a {
  color: #000;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #d4d4d4;
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}

.about li a:hover {
  color: #ee8683;
}

.about p{
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 32px;
}

/* Experience ---------------------------------------------------------*/
.experience .progress {
  height: 10px;
  border-radius: 20px;
  font-size: 10px;
}

.progress-color {
  background-color: #ee8683 !important;
}
.experience label {
  font-size: 20px;
  margin: 10px;
}

.card-head{
  background-color: #efefef;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.card-head img{
  width: 60px;
}

.services p {
  font-size: 12px;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 100px;
}

.card-1 {
  margin: 30px auto;
  width: 340px;
  height: 360px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: 0.4s;
}

.card-1 .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card-1 .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card-1 .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
  border-radius: 100px;
}


.card-1:hover {
  transform: scale(0.9, 0.9);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}



/* Work */

#work-card img, button{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

#work-card .btn-outline-primary{
  margin-top: 10px;
}




/* Contact */
.contact .r-icon {
  font-size: 50px;
  text-align: center;
}

/* footer */
footer {
  height: 200px;
  background-color: #333333;
}

.social-menu ul{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li{
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab{
  font-size: 30px;
  line-height: 60px;
  transition: .3s;
  color: #000;
}

.social-menu ul li .fab:hover{
  color: #fff;
}

.social-menu ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
  background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
  background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
  background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
  background-color: #000;
}


/* Media-------------------------------------------------------------------------------- */
@media (min-width: 200px) and (max-width: 768px) {
  .r-nav {
    background: #fff !important;
  }
  .r-nav .container {
    width: 85%;
  }
  nav .navbar-brand {
    font-size: 30px;
    color: #000;
  }
  .navbar .hamburger {
    color: #000;
  }
  nav .navbar-nav .nav-link {
    color: #000 !important;
  }

  .content-box h1 {
    font-size: 30px;
  }
  .content-box p {
    font-size: 16px;
  }
  header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/view-3d-man-with-tech-device.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: -700px 0;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 12px;
    line-height: 5px;
    font-weight: 400;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-image: url(/images/w11.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(239, 205, 255);
}

#work-card .btn-outline-primary{
  margin-top: 10px;
  width: 70%;
  font-size: 13px;
}
}


@media (min-width: 576px) and (max-width: 768px){
  #work-card .btn-outline-primary{
    width: 50%;
    font-size: 8px;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  #work-card .btn-outline-primary{
    width: 50%;
    font-size: 8px;
    margin-bottom: 10px;
  }
}


